ion-img{
    height: 100px;
    width:  90px;
    margin: 10px;

}
ion-title{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
}
.img{
    height:100px;
    width: 90px;
    float: left;
    margin: 10px;
}