ion-img{
    height: 70px;
    width: 70px;
    padding: 10px;

}
.contact{
    text-align: center;
    margin: 20px;
    
    
}
ion-title{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
}
ion-icon{
    width: 30px;
    height: 40px;
    
}
ion-button{
    --background: #a39193; 
}
ion-content{
    --background:#f6e0b5;
}