<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
    <div class="contact">
      <ion-icon name="call"></ion-icon>
      <h4>09304848330</h4>
    </div>

    <div class="contact">
      <ion-icon name="logo-google"></ion-icon>
      <h4>mariefe.aguilos@evsu.edu.ph</h4>
    </div>
    <div class="contact">
      <ion-icon name="logo-facebook"></ion-icon>
      <h4>Marie Fe Aguilos</h4>
    </div>
    <div class="contact">
      <ion-icon name="logo-instagram"></ion-icon>
      <h4>@aguilosmafe</h4>
    </div>
  
</ion-content>
